<a href="https://colab.research.google.com/github/Saeswar/AI-ML-AVANTHI-SAESWAR/blob/main/day2_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n=[3,5,8,21,13,1,5,6,18,4]
num1=n[0:5]
num1.sort()
num2=n[5:10]
num2.sort()
num2.reverse()
print(num1)
print(num2)
num1 +=num2
print(num1)

[3, 5, 8, 13, 21]
[18, 6, 5, 4, 1]
[3, 5, 8, 13, 21, 18, 6, 5, 4, 1]

In [ ]:
#sets
n=[3,5,6,3,3,15,5,6,3,6,1]
set(n)

{1, 3, 5, 6, 15}

In [ ]:
n=[1,32,24,13,97,1,8,14,99,34,5,56,8,23]
sum=0
for i in n:
 if i%2 == 0:
  sum +=i
print(sum)

176

In [17]:
 x=[1,32,24,13,97,1,8,14,99,34,5,56,8,23]
 for i in range(len(x)):
  if i%2 == 0:
    for j in range(i+1,len(x)):
      if x[j]%2 == 1:
        x[i] = x[j]
        break
  if i%2 == 0:
     for j in range(i+1,len(x)):
      if x[j]%2 == 0:
        x[i] = x[j]
        break
print(x)

[32, 32, 8, 13, 8, 1, 14, 14, 34, 34, 56, 56, 23, 23]

In [ ]:
#amstrong number
n = int(input('enter a nuber:'))
copy = n
sum = 0
while n > 0:
  x =n%10
  cube = x**3
  n = n//10
  sum+=cube
  if sum == copy:
    print('amstrong')
  else:
      print('not amsrtong')

In [25]:
#dictionary
my_dict = {
    "name":"saieswar",
    "age":21,
    "phone no":7670854985,
    "fav food":"veg meals"
}
print(my_dict)

{'name': 'saieswar', 'age': 21, 'phone no': 7670854985, 'fav food': 'veg meals'}

In [43]:
x=[3,3,5,5,3,3,7,7,5,3,7,5]
dict={}
distinct=set(x)
for i in distinct:
  dict[i]=0
for i in range(len(x)):
  dict[x[i]]+=1
print(dict)

{3: 5, 5: 4, 7: 3}

In [ ]:
x=[3,6,8,21,5,7,24,31,0,61]
new_list =[]
final = []
for i in range(len(x)-1):
  new_list.append(x[i]+x[i+1])

In [65]:
string = "I like rashikanna she is very preety and nice acting"
print("original string:",string)
print("length:",string)
print("upper case:",string.upper())
print("lower case:",string.lower())
print("title case:",string.title())
print("swap case:",string.swapcase())
print("is upper case:",string.isupper())

original string: I like rashikanna she is very preety and nice acting
length: I like rashikanna she is very preety and nice acting
upper case: I LIKE RASHIKANNA SHE IS VERY PREETY AND NICE ACTING
lower case: i like rashikanna she is very preety and nice acting
title case: I Like Rashikanna She Is Very Preety And Nice Acting
swap case: i LIKE RASHIKANNA SHE IS VERY PREETY AND NICE ACTING
is upper case: False